{% extends 'base.html.twig' %}

{% block title %}Page de profil{% endblock %}

{% block body %}

<div id="main-wrapper">
   
    
    <div class="login-section section pt-95 pt-lg-75 pt-md-65 pt-sm-55 pt-xs-45">
        <div class="container">

        <nav class="navbar navbar-expand-sm bg-light">

            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="dropdown">
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope"></i>  Ma boite email
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('boite_email')}}">Boite de Reception</a>
                            <a class="dropdown-item" href="#">Nouvelle Email</a>
                            {% if not emailtcheck %}
                            <a class="dropdown-item" href="{{ path('add_email') }}">Création d'une boite Email</a>
                            {% else %}
                            <span class="badge badge-info" style="margin-left: 20px;"> {{ emailtcheck.adresseMail}}</span>
                            

                            {% endif %}
                        </div>
                    </div>
                </li>
               
            </ul>

        </nav>
        </div>
        </div>
    <!--Page Banner Area Start-->
    <div class="login-section section pt-95 pt-lg-75 pt-md-65 pt-sm-55 pt-xs-45">
        <div class="container">
        
            <div class="card-group">
              
                <div class="card">
                    <div class="card-body text-center">
                        <p class="card-text bg-danger text-white">Email reçu de {{ recep.de }}</p>
                        <div class="row">
                            <div class="col-lg-8">
                                <h2>{{ recep.objet|upper }}
                                {{ recep.contenue }}
                            </div>
                            <div class="col-lg-4">
                                <table>
                                <tr>
                                <th>Répondre</th>
                                <td><a href=""><button class="btn btn-success"></button></a></td>
                                </tr>
                                </table>
                            </div>
                        </div>
                        <hr>
                   
                    </div>
                </div>  
            </div>
        </div>
    </div> 
    <!--Page Banner Area End-->
            </div>

    
    
</div>   

{% endblock %}