{% extends 'base.html.twig' %}

{% block title %}Page de profil{% endblock %}

{% block body %}

<div id="main-wrapper">
   
    
    <div class="login-section section pt-95 pt-lg-75 pt-md-65 pt-sm-55 pt-xs-45">
        <div class="container">

        <nav class="navbar navbar-expand-sm bg-light">

            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                <div class="dropdown">
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-envelope"></i>  Ma boite email
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Boite de Reception</a>
                        <a class="dropdown-item" href="#">Nouvelle Email</a>
                        {% if not emailtcheck %}
                        <a class="dropdown-item" href="{{ path('add_email') }}">Création d'une boite Email</a>
                        {% else %}
                        <span class="badge badge-info" style="margin-left: 20px;"> {{ emailtcheck.adresseMail}}</span>
                        

                        {% endif %}
                    </div>
                    </div>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Link 3</a>
                </li>
            </ul>

        </nav>


        </div>
        </div>
    <!--Page Banner Area Start-->
    <div class="login-section section pt-95 pt-lg-75 pt-md-65 pt-sm-55 pt-xs-45">
        <div class="container">
        
            <div class="card-group">
              
                <div class="card">
                    <div class="card-body text-center">
                    <p class="card-text bg-danger text-white">Mes email Reçu</p>
                    <hr>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th>Recu De</th>
                            <th>Objet</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
               
                        {% for emails in emailR %}
                   
                        {% if not emails %}
                             <tr class="colorwhite">
                            <td collspan="3">Aucun Email</td>
                            </tr>
                        {% else %}
                            <tr class="colorwhite">
                            <td>{{ emails.de }}</td>
                            <td>{{ emails.objet }}</td>
                            <td><a href="{{ path('email_view', {'id': emails.id})}}"><button class="btn btn-success"><i class="fas fa-eye"></i></button></a></td>
                            </tr>
                        {% endif %}
                  
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>  
            </div>
        </div>
        </div> 
    <!--Page Banner Area End-->
            </div>

    
    
</div>   

{% endblock %}