{% extends 'base.html.twig' %}

{% block title %}Index Home page{% endblock %}

{% block body %}
 <!--slider section start-->
    <div class="hero-section section position-relative">
        <div class="hero-slider">
            <!--Hero Item start-->
            <div class="hero-item hero-item-2" style="background-image: url(assets/images/V2/bg01.jpg)">
                <div class="container container-1520">
                    <div class="row">
                        <div class="col-12">

                            <!--Hero Content start-->
                            <div class="hero-content">
                                <h1>Bienvenue sur</h1>
                                <h2>Serenity Roleplay</h2>
                                
                            </div>
                            <!--Hero Content end-->

                        </div>
                    </div>
                </div>
            </div>
            <!--Hero Item end-->
            {# <!--Hero Item start-->
            <div class="hero-item hero-item-2" style="background-image: url(assets/images/hero/hero-3.jpg)">
                <div class="container container-1520">
                    <div class="row">
                        <div class="col-12">

                            <!--Hero Content start-->
                            <div class="hero-content">
                                <h1>THE WITCHER 3</h1>
                                <h2>BETTLE BEGAN’S HERE</h2>
                            </div>
                            <!--Hero Content end-->

                        </div>
                    </div>
                </div>
            </div>
            <!--Hero Item end-->
        </div> #}
    </div>
    <!--slider section end-->
    

    
<!--Blog Area Start-->
    <div class="blog-list-area section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-xs-50">
        <div class="container">
            <div class="row row-25">
                <div class="col-lg-8">
                    <div class="row">
                    {% for newse in news %}
                        <div class="col-12">
                            <!--Single Blog Post Start-->
                            <div class="single-blog-post blog-list mb-30">
                                <div class="blog-img">
                                    <a href="{{ path('news_perso', {'id': newse.id})}}"> <img src="{{ vich_uploader_asset(newse, 'imageFile') }}" alt="{{ newse.imageName }}"></a>
                                </div>
                                <div class="blog-content">
                                    <a href="{{ path('news_perso', {'id': newse.id})}}"><h3>{{ newse.title }}</h3></a>
                                    <p>{{ newse.contenue|length > 250 ? newse.contenue|slice(0, 250) ~ '...' : newse.contenue  }}</p>
                                    <div class="blog-bottom">
                                        <ul class="meta meta-border-bottom">
                                            <li><a href="#">{{ newse.author }}</a></li> 
                                            <li>{{ newse.createdAt|date('d/m/y') }} , {{ newse.createdAt|date('h:m') }}</li>

                                            {% if newse.categorie in "Information" %}
                                                <li><span class="badge badge-info">{{newse.categorie}}</span></li>
                                            {% elseif newse.categorie in "Patchnote" %}
                                                <li><span class="badge badge-danger">{{newse.categorie}}</span></li>
                                            {% elseif newse.categorie in "Recrutement" %}
                                                <li><span class="badge badge-warning">{{newse.categorie}}</span></li>
                                            {% elseif newse.categorie in "Réglement" %}
                                                <li><span class="badge badge-primary">{{newse.categorie}}</span></li>
                                            {% else %}
                                                <li><span class="badge badge-default">Aucune</span></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Single Blog Post End-->
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                   
                <div class="col-lg-4">
                    <div class="sidebar-area mt-sm-55 mt-xs-50">
                        <!--Single Sidebar Widget Start-->
                        <div class="single-sidebar-widget mb-45">
                            <h3>Discord serenity</h3>
                            <iframe src="https://discordapp.com/widget?id=559713253551505419&theme=dark" width="300" height="500" allowtransparency="true" frameborder="0"></iframe>
                        </div>
                        <!--Single Sidebar Widget End-->
                        
                </div>
            </div>
        </div>
    </div>
    <!--Blog Area End-->
    
{% endblock %}
