<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    
    <!-- Modernizr JS -->
    
         {% block stylesheets %}
            <link href="assets/images/favicon.ico" type="img/x-icon" rel="shortcut icon">
            <!-- All css files are included here. -->
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/qanto.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/bauhaus93.css ') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/icofont.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/plugins.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/helper.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">  
         {% endblock %}
    </head>
    <body>
    <div id="main-wrapper">
        <!--Header section start-->
    <header class="header header-static bg-black header-sticky">
        <div class="default-header menu-right">
            <div class="container container-1520">
                <div class="row">
                    
                    <!--Logo start-->
                    <div class="col-12 col-md-3 col-lg-3 order-md-1 order-lg-1 mt-20 mb-20">
                        <div class="logo">
                            <a href="{{ path('index') }}"><img src="{{ asset('assets/images/logo.png') }}" alt=""></a>
                        </div>
                    </div>
                    <!--Logo end-->
                    
                    <!--Menu start-->
                    <div class="col-lg-6 col-12 order-md-3 order-lg-2 d-flex justify-content-center">
                        <nav class="main-menu menu-style-2">
                            <ul>
                                <li><a href="{{ path('index') }}">Home</a></li>
                                 <li><a href="">Bugtracker</a></li>
                                <li><a href="">Activites</a>
                                <ul class="sub-menu">
                                        <li><a href="">Activites légal</a></li>
                                        <li><a href="">Activites Illégal</a></li>
                                    </ul>
                                </li>
                                <li><a href="">Service</a>
                                <ul class="sub-menu">
                                        <li><a href="">Service</a></li>
                                        <li><a href="">Job</a></li>
                                    </ul>
                                </li>
                                <li><a href="">Contact</a></li>
                                {% if is_granted('ROLE_ADMIN')%}
                            <li><a href="/admin">Admin</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <!--Menu end-->
                    
                    <!--Header Right Wrap-->
                    <div class="col-12 col-md-9 order-md-2 order-lg-3 col-lg-3">
                        <div class="header-right-wrap">
                            <ul>
                            {% if not app.user %}
                                <li><a href="{{ path('security_login') }}">Connexion</a></li>
                                <li><a href="{{ path('security_registation') }}">Inscription</a></li>
                            {% else %}
                                {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('profil') }}">Profil de {{app.user.username }}</a></li>
                                {% endif %}
                                <li><a href="{{ path('security_logout') }}">Deconnexion</a></li>
                            {% endif %}
                            </ul>
                        </div>
                    </div>
                    <!--Header Right Wrap-->
                    
                </div>
                
                <!--Mobile Menu start-->
                <div class="row">
                    <div class="col-12 d-flex d-lg-none">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
                <!--Mobile Menu end-->
                
            </div>
        </div>
    </header>
    <!--Header section end-->
        {% block body %}{% endblock %}
          <!--Footer section start-->
    <footer class="footer-section style-2 section bg-theme" style="background-image: url({{ asset('assets/images/bg/footer-bg.jpg')}} )">
       
        <!--Footer Top start-->
        <!--Footer Top end-->
        
        <!--Footer bottom start-->
        <div class="footer-bottom border-color section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright text-center">
                            <p>Copyright &copy;2019 Tout droits réserver Serenity rp Création de Timetodev</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer bottom end-->
        
     </footer>
        </div>
        {% block javascripts %}
        <script src="{{ asset('assets/js/vendor/modernizr-2.8.3.min.js') }}" defer></script>
        <script src="{{ asset('assets/js/vendor/jquery-1.12.4.min.js') }}"></script>
        <script src="{{ asset('assets/js/popper.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins.js') }}"></script>
        <script src="{{ asset('assets/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
